<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert2@7.22.0/dist/sweetalert2.all.js"></script>
      {% if title %}
      <title>{{ title }} - English Learn</title>
      {% else %}
      <title>Welcome to English World</title>
      {% endif %}
    </head>
    <body>
            <nav>
                    <div class="nav-wrapper">
                      <a href="/" class="brand-logo Center">English Killer</a>
                      <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a href="/">Upload</a></li>
                        <li><a href="/words">Words</a></li>
                    
                      </ul>
                    </div>
                  </nav>

      
        {% block content %}{% endblock %}
        
        
        <footer class="page-footer" id="footer">
                <div class="footer-copyright">
                  <div class="container">
                  © 2018 Copyright Reserved by Zhenjie Hao @ CIeNET
                  <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                  </div>
                </div>
              </footer>
                  


        <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>
    </body>
</html>